.buying
  .buying__top
    購入が完了しました
  .buyingPadding
    .buying__main
      .buying__main__product
        .buying__main__product__image
          = image_tag(@product.pictures.first.image)
        .buying__main__product__title
          = @product.name
      .buying__main__cost
        .buying__main__cost__num
          ¥
          = @product.price.to_s(:delimited)
        .buying__main__cost__way
          送料込み
      .buying__main__allCost
        .buying__main__allCost__label
          支払い金額
        .buying__main__allCost__num
          ¥
          = @product.price.to_s(:delimited)
  .buyingPadding
    .buying__address
      .buying__address__label
        配送先
      .buying__address__num
        〒150−0041
      .buying__address__text
        東京都渋谷区神南1丁目12−16アジアビル8F
      .buying__address__name
        株式会社div
  .finisings__main
    .finisings__main__context
      ありがとうございます。
      %br/
      購入が完了しました。
    = link_to root_path do
      .finisings__main__button
        ホームに戻る