.contents__product-information
  .contents__product-information__special-feature
    = image_tag("https://www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?4148637188", class: "contents__product-information__special-feature__image")
    = fa_icon "chevron-left" , class: "contents__product-information__special-feature__icon-left"
    = fa_icon "chevron-right" , class: "contents__product-information__special-feature__icon-right"
  = render "products/products"
= render "shared/exhibitbtn"