.main
  = form_for @product, html: { class: "main__product" } do |f|
    .main__product__top
      商品の情報を入力
    .main__product__item
      .main__product__item__h1
        出品画像
        %span 必須
      .main__product__item__area
        .main__product__item__area__input
          最大10枚までアップロードできます
        .main__product__item__area__flex
          %ul#uploadedListFirst.uploadedList
          %ul#uploadedListFinal.uploadedList
          .removefileuploader
            = f.label :name,name:"image[]", class:"main__product__item__h3" do
              = f.file_field :name,name:"image[]",class: "main__product__item__h3__image",style:"display:none;"
              .main__product__item__h3__context
                ドラッグアンドドロップ
                またはクリックしてファイルをアップロード
    .main__product__name-explain
      .main__product__name-explain__h1
        商品名
        %span 必須
      = f.text_field :name, placeholder: "商品名（必須 40文字まで)", class:"main__product__name-explain__h1-text"
      .main__product__name-explain__h2
        商品の説明
        %span 必須
      = f.text_area :explain,class:"main__product__name-explain__h2-text", placeholder: '商品の説明 (必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）&#13;&#10;2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。'.html_safe
    .main__product__details
      .main__product__details__h1
        商品の詳細
      .main__product__details__sell-box
        .main__product__details__h2
          カテゴリー
          %span 必須
        .main__product__details__h2-choice
          = f.collection_select :category_id, @categories, :id, :name, prompt:"---"
          = fa_icon "chevron-down", class: "main__product__details__sell-box__icon-a"
        .main__product__details__h2-choice
          = f.collection_select :category_id, @categories.first.children, :id, :name, prompt:"---"
          = fa_icon "chevron-down", class: "main__product__details__sell-box__icon-a"
        .main__product__details__h2-choice
          = f.collection_select :category_id, @categories.first.children.first.children, :id, :name, prompt:"---"
          = fa_icon "chevron-down", class: "main__product__details__sell-box__icon-a"
        .main__product__details__h2
          サイズ
          %span 必須
        .main__product__details__h2-choice
          = f.collection_select :size_id, @size, :id, :size, prompt:"---"
          = fa_icon "chevron-down", class: "main__product__details__sell-box__icon-a"
        .main__product__details__h2
          ブランド
          %span 任意
        .main__product__details__h2-choice
          = f.text_field :brand_id, placeholder: "例) シャネル"
          = fa_icon "chevron-down", class: "main__product__details__sell-box__icon-a"
        .main__product__details__h3
          商品の状態
          %span 必須
        .main__product__details__h3-choice
          = f.collection_select :commodity_condition_id, @commodityConditions, :id, :condition, prompt:"---"
          = fa_icon "chevron-down", class: "main__product__details__sell-box__icon-b"
    .main__product__delivery
      .main__product__delivery__h1
        配送について
      .main__product__delivery__sell-box
        .main__product__delivery__h2
          配送料の負担
          %span 必須
        .main__product__delivery__h2-choice
          = f.collection_select :shipping_charge_id, @shippingCharges, :id, :method, prompt: "---"
          = fa_icon "chevron-down", class: "main__product__delivery__sell-box__icon-c"
        .main__product__delivery__h2
          配送の方法
          %span 必須
        .main__product__delivery__h2-choice
          = f.collection_select :delivery_method_id, @deliveryMethods, :id, :name, prompt: "---"
          = fa_icon "chevron-down", class: "main__product__delivery__sell-box__icon-c"
        .main__product__delivery__h3
          発送元の地域
          %span 必須
        .main__product__delivery__h3-choice
          = f.collection_select :prefecture_id, @prefectures, :id, :name, prompt: "---"
          = fa_icon "chevron-down", class: "main__product__delivery__sell-box__icon-d"
        .main__product__delivery__h4
          発送までの日数
          %span 必須
        .main__product__delivery__h4-choice
          = f.collection_select :days_before_shipment_id, @days,:id, :days, prompt: "---"
          = fa_icon "chevron-down", class: "main__product__delivery__sell-box__icon-e"
    .main__product__price
      .main__product__price__h1
        販売価格(300~9,999,999)
      .main__product__price__sell-box
        .main__product__price__h2
          価格
          %span 必須
          = f.text_field :price, placeholder:"例) 300", class: "main__product__price__h2-choice"
        .main__product__price__h3
          販売手数料 (10%)-
        .main__product__price__h4
          販売利益
    .main__product__btn-box
      .main__product__btn-box__p
        %p
          %span 禁止されている出品
          、
          %span 行為
          を必ずご確認ください。
        %p
          またブランド品でシリアルナンバー等がある場合はご記載ください。
          %span 偽ブランドの販売
          は犯罪であり処罰される可能性があります。
        %p
          また、出品をもちまして
          %span 加盟店規約に
          同意したことになります。
      .main__product__btn-box__exhibit
        = f.submit "出品する"
      = link_to root_path do
        .main__product__btn-box__return
          もどる