.search
  .search__left
    %select.search__left__top
      %option{value: "---"} 並び替え
      %option{value: "1"} 価格の安い順
      %option{value: "2"} 価格の高い順
      %option{value: "3"} 出品の古い順
      %option{value: "4"} 出品の新しい順
      %option{value: "5"} いいねの多い順！
    = fa_icon "chevron-down", class: "search__left__icon" 
    .search__left__down
      %h3 詳細検索
      = search_form_for(@q, url:addsearch_products_path) do |f|
        .search__left__down__formgroup.search__left__down__formgroup--top
          = fa_icon "plus"
          = f.label :name_cont, 'キーワードを追加する'
          = f.search_field :name_cont, {class: 'search__left__down__formgroup__input', placeholder: "例) 値下げ"}
        .search__left__down__formgroup
          = fa_icon "list"
          = f.label :category_id_eq, 'カテゴリーを選択する'
          = f.collection_select :category_id_eq, @categorys, :id, :name ,prompt:"すべて"
          = fa_icon "chevron-down", class: "search__left__down__formgroup__icon" 
        .search__left__down__formgroup
          = fa_icon "tag"
          = f.label :brand_id_cont, 'ブランド名から探す'
          = f.search_field :brand_id_cont, {class: 'search__left__down__formgroup__input', placeholder: "例) シャネル"}
        .search__left__down__formgroup
          = fa_icon "square"
          = f.label :size_id_eq, 'サイズを指定する'
          = f.collection_select :size_id_eq, @sizes, :id, :size, prompt:"すべて"
          = fa_icon "chevron-down", class: "search__left__down__formgroup__icon" 
        .search__left__down__formgroup
          = fa_icon "money"
          = f.label :price, '価格'
          .search__left__down__formgroup__select
            %div
              = f.radio_button 'price_gteq', '',{checked: true}
              指定なし
            %div
              = f.radio_button 'price_gteq', '300'
              300円以上
            %div
              = f.radio_button 'price_gteq', '1000'
              1000円以上
            %div
              = f.radio_button 'price_gteq', '5000'
              5000円以上
            %div
              = f.radio_button 'price_gteq', '10000'
              10000円以上
            %div
              = f.radio_button 'price_gteq', '30000'
              30000円以上
            %div
              = f.radio_button 'price_gteq', '50000'
              50000円以上
        .search__left__down__formgroup
          = fa_icon "star"
          = f.label :commodity_condition_id_in, '商品の状態'
          %div
            = f.collection_check_boxes :commodity_condition_id_in, @commodity_conditions, :id, :condition
        .search__left__down__formgroup
          = fa_icon "truck"
          = f.label :shipping_charge_id_in, '配送料の負担'
          %div
            = f.collection_check_boxes :shipping_charge_id_in, @shipping_charges, :id, :method
        .search__left__down__formgroup
          = fa_icon "cart-plus"
          = f.label :condition_id_in, '販売状況'
          %div
            = f.collection_check_boxes :condition_id_in, @conditions, :id, :condition
        .search__left__down__btn
          = f.submit "クリア", type: :reset, class:'search__left__down__btn__left'
          = f.submit "完了", class:'search__left__down__btn__right'
  .search__right
    .search__right__head
      = params[:keyword]
      %span の検索結果
    .search__right__number
      =@products.length
      %span 件表示
    .search__right__products
      = render @products