.details__content
  %h1.details__content__title
    = @product.name
  .details__content__main
    .details__content__main__table
      = image_tag @product.pictures.first.image, class: "details__content__main__table__main"
      - @product.pictures.each do |picture|
        = image_tag picture.image, class: "details__content__main__table__sub"
    .details__content__main__margin
    .details__content__main__table
      %table.details__content__main__table
        %tbody
          %tr
            %th 出品者
            %td
              = link_to root_path , class: "details__content__main__table__right" do
                = @product.user.nickname
              .details__content__main__table__faces
                .details__content__main__table__faces__face
                  =fa_icon "smile-o", class: "details__content__main__table__faces__face__good"
                  200
                .details__content__main__table__faces__face
                  =fa_icon "meh-o	", class: "details__content__main__table__faces__face__normal"
                  10
                .details__content__main__table__faces__face
                  =fa_icon "frown-o", class: "details__content__main__table__faces__face__bad"
                  0
          %tr
            %th カテゴリー
            %td
              = link_to root_path, class: "details__content__main__table__right" do
                = @product.category.parent.parent.name
              %br
              = link_to root_path , class: "details__content__main__table__right" do
                >
                = @product.category.parent.name
              %br
              = link_to root_path , class: "details__content__main__table__right" do
                >
                = @product.category.name
          %tr
            %th ブランド
            %td
              = link_to root_path , class: "details__content__main__table__right" do
                - if @product.brand != nil
                  = @product.brand.name
          %tr
            %th 商品のサイズ
            %td
              = @product.size.size
          %tr
            %th 商品の状態
            %td
              = @product.commodity_condition.condition
          %tr
            %th 配送料の負担
            %td
              = @product.shipping_charge.method
          %tr
            %th 配送の方法
            %td
              = @product.delivery_method.name
          %tr
            %th 配送元地域
            %td
              = link_to root_path , class: "details__content__main__table__right" do
                = @product.prefecture.name
          %tr
            %th 発送日の目安
            %td
              = @product.days_before_shipment.days
  .details__content__prices
    %span.details__content__prices__price
      ¥
      = @product.price.to_s(:delimited)
    %span.details__content__prices__tax
      (税込)
    %span.details__content__prices__postage
      送料込み
  - if @product.condition_id != 2
    = link_to product_buyings_path(@product.id), class: "details__content__buy__btn" do
      .details__content__buy
        購入画面に進む
  - else
    .details__content__buy.details__content__buy__sold
      売り切れました
  .details__content__comment
    %p
      = @product.explain
  .details__content__bottom
    .details__content__bottom__left
      .details__content__bottom__left__like
        = fa_icon "heart"
        いいね! 8
      .details__content__bottom__left__report
        = fa_icon "flag"
        不適切な商品の報告
    = link_to root_path, class: "details__content__bottom__right" do
      .details__content__bottom__right
        = fa_icon "lock"
        あんしん・あんぜんへの取り組み
.details__messages
  .details__messages__content
    = render "products/message"
    .details__messages__content__margin
    = render "products/message"
  .details__messages__content
    .details__messages__content__top
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .details__messages__content__mid
      %textarea{class: "details__messages__content__mid__form"}
      = link_to root_path, class: "details__messages__content__bottom" do
        .details__messages__content__bottom
          コメントする
.details__page
  = link_to product_path(@product.id - 1), class: "details__page__pre" do
    .details__page__pre
      - if @pre_product != nil
        <
        = @pre_product.name
  = link_to product_path(@product.id + 1), class: "details__page__next" do
    .details__page__next
      - if @next_product != nil
        = @next_product.name
        >
.details__sns
  .details__sns__box
    = link_to "https://www.facebook.com/" do
      = fa_icon "facebook-square", class: "details__sns__box__facebook"
    = link_to "https://twitter.com/home?lang=ja" do
      = fa_icon "twitter-square", class: "details__sns__box__twitter"
    = link_to "https://www.pinterest.jp/" do
      = fa_icon "pinterest-square", class: "details__sns__box__pinterest"
.details__products
  = link_to root_path, class: "details__products__name" do
    .details__products__name
      = @product.user.nickname
      さんのその他の出品
  .details__products__wrap
    = render @products
  .details__products__wrap
  = link_to root_path, class: "details__products__name" do
    .details__products__name
      = @product.name
      その他の出品
  .details__products__wrap
    = render @same_products
.details__bottom
  .details__bottom__contents
    = link_to root_path, class: "details__bottom__contents__top" do
      メルカリ
    = fa_icon "angle-right"
    %span.details__bottom__contents__name
      サンダル