.contents__header
  .contents__header__inner
    .contents__header__inner__top
      = link_to root_path do
        = image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?575670517", width: "134", height: "36") 
      .contents__header__inner__top__form         
        %input.contents__header__inner__top__form__input{placeholder: "何かお探しですか？", type: "serch"}/ 
        =fa_icon "search" , class: "contents__header__inner__top__form__icon"        
    .contents__header__inner__down
      .contents__header__inner__down__left
        .contents__header__inner__down__left__category
          = link_to root_path do
            =fa_icon "list" , class: "contents__header__inner__down__left__category__icon"
            カテゴリーから探す
        .contents__header__inner__down__left__tag
          = link_to root_path do
            =fa_icon "tag" , class: "contents__header__inner__down__left__tag__icon"
            ブランドから探す  
      .contents__header__inner__down__right
        .contents__header__inner__down__right__notice
          = link_to root_path do
            =fa_icon "bell" , class: "contents__header__inner__down__right__notice__icon"
            お知らせ  
        .contents__header__inner__down__right__todo
          = link_to root_path do
            =fa_icon "check" , class: "contents__header__inner__down__right__todo__icon"
            やることリスト  
        .contents__header__inner__down__right__mypage
          = link_to root_path do
            = image_tag("//static.mercdn.net/images/member_photo_noimage_thumb.png", width: "32", class: "contents__header__inner__down__right__mypage__icon")
            .contents__header__inner__down__right__mypage__text
              マイページ