!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title FreemarketSample57d
    %script{:src => "https://js.pay.jp/", :type => "text/javascript"}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body.deviseBody
    %header.deviseHeader
      .deviseHeader__box
        .deviseHeader__box__logo
          = link_to root_path do
            = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3312594182")
        .deviseHeader__box__progress
          = render "devise/shared/progress"
    = yield
    %footer.deviseFooter
      .deviseFooter__links
        = link_to "プライバシーポリシー", root_path, class: "deviseFooter__links__link"
        = link_to "メルカリ利用規約", root_path, class: "deviseFooter__links__link"
        = link_to "特定商取引に関する表記", root_path, class: "deviseFooter__links__link"
      .deviseFooter__image
        = link_to root_path do
          = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3312594182")
      .deviseFooter__copyright
        © 2019 Mercari